@charset "UTF-8";

/* PARA CELULAR */ 
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(17, 17, 17);
}
h1, h2, h3{
    color: white;
    text-align: center;
}
video{
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
#corpo video{
    width: 500px;
    margin:0 auto;
    display: block;}

p{
    text-align: center;
    color: white;
}

main{
    text-align: center;
}